
<!DOCTYPE html>
<html>
  <head>
    <title>Create MusicAlbum</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <h1>Create MusicAlbum</h1>
    <form method="post" action="/inab">
      <label >musicformat:</label>
  
      <select name="musicformat" >
        <!-- ทำให้การเลือก shelf เป็นแบบ select เพื่อป้องกันไม่ให้เลือก shelf ที่ไม่มีอยู่ในระบบ -->
        <% for(var i=0; i < musicformat.length; i++) { %> 
        <option value="<%= musicformat[i].id_fom %>">ID format : <%= musicformat[i].id_fom %> musicformatDATA : <%= musicformat[i].musicformat %></option>
        <% } %>
        

      </select>

      <br />

      <label >musicname:</label>
      <!-- <input type="text"  name="music" /> -->
      <select name="music" >
        <!-- ทำให้การเลือก shelf เป็นแบบ select เพื่อป้องกันไม่ให้เลือก shelf ที่ไม่มีอยู่ในระบบ -->
        <% for(var i=0; i < music.length; i++) { %> 
        <option value="<%= music[i].id_mus %>">ID mus : <%= music[i].id_mus %> music : <%= music[i].music_name %></option>
        <% } %>
        

      </select>
      <br />

      <label >composer:</label>
      <!-- <input type="text"  name="Composer" /> -->
      <select name="Composer" >
        <!-- ทำให้การเลือก shelf เป็นแบบ select เพื่อป้องกันไม่ให้เลือก shelf ที่ไม่มีอยู่ในระบบ -->
        <% for(var i=0; i < Composer.length; i++) { %> 
        <option value="<%= Composer[i].id_com %>">ID com : <%= Composer[i].id_com %> Composer : <%= Composer[i].composer_name %></option>
        <% } %>
    </select>
      <br />

      
      <input type="submit" value="create" />
    </form>
    <div class="link-center">
      <a href="/">Back to List</a>
    </div>
  </body>
</html>
